<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    <modules>
        <Ko_Gallery>
            <version>1.3</version>
        </Ko_Gallery>
    </modules>
    <frontend>
        <routers>
            <ko_gallery>
                <use>standard</use>
                <args>
                    <module>Ko_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </ko_gallery>
            <checkout>
            <args>
                <modules>
                    <ko_gallery before="Mage_Checkout">Ko_Gallery</ko_gallery>
                </modules>
            </args>
        </checkout>   
        </routers>
        <layout>
            <updates>
                <ko_gallery>
                    <file>gallery.xml</file>
                </ko_gallery>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <kogalleryorderexport>
                        <class>Ko_Gallery_Model_Observer</class>
                        <method>orderExport</method>
                    </kogalleryorderexport>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        
            
    </frontend>
    <admin>
        <routers>
            <admin_gallery>
                <use>admin</use>
                <args>                    
                        <module>Ko_Gallery_Adminhtml</module>  
                        <frontName>admin_gallery</frontName>
                </args>
            </admin_gallery>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ko_gallery>
                    <file>gallery.xml</file>
                </ko_gallery>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <gallery>
                <class>Ko_Gallery_Block</class>
            </gallery>
        </blocks>
<!--        <helpers>
            <ko_gallery>
                <class>Ko_Gallery_Helper</class>
            </ko_gallery>
        </helpers>-->
        <models>
            <ko_gallery>
                <class>Ko_Gallery_Model</class>
                <resourceModel>ko_gallery_model_resource</resourceModel>
            </ko_gallery>
            <ko_gallery_model_resource>
                <class>Ko_Gallery_Model_Resource</class>
                <entities>
                    <gallery>
                        <table>gallery</table>
                    </gallery>
                    <gallerygroup>
                        <table>gallery_group</table>
                    </gallerygroup>
                </entities>
            </ko_gallery_model_resource>
        </models>
        <resources>
            <ko_gallery_setup>
                <setup>
                    <module>Ko_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ko_gallery_setup>
            <ko_gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ko_gallery_read>
            <ko_gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ko_gallery_write>
        </resources> 
    </global>
</config>